body { 
margin:0;
position:fixed;
top:0;
right:0;
bottom:0;
left:0; 
text-align: center; 
font-family: sans-serif,helvetica, arial;
}

h2{    
	font-size: 26px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#charts1, #charts2, #charts3{

    width: 535px;
    height: 425px;
    margin-left: 36px;
    margin-right: 54px;
}

.chart-wrapper{
    height: 425px;
    display: inline-flex;
    width: 100%;
    margin-top: 200px;
}

#donutChart1,#donutChart2,#donutChart3{
   height:320px;
}

.bottom-info {
    width: 50%;
    bottom: 0;

}

.bottom-info:nth(2){
    float: right;
}
.bottom-info:nth(1){
    float: left;
}

.centerTitle, .centerTitle2, .centerTitle3 {
  /*color:#a3a3a3;
  text-transform: uppercase;
  font-size: 26px;*/    
    color: grey;
    text-transform: uppercase;
    font-size: 34px;
    font-stretch: condensed;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 535px;
    margin-top: -235px;


}

#legend1,#legend2,#legend3{
    width: 100%;
    bottom: 0;
    display: inline-flex;
    border-bottom: 4px solid #e4e4e4;
    padding-bottom: 20px;
}

.datum{
    font-size: 26px;
}
.percentage{
	color: #555555;
    margin-right: 12px;
}
.bottom-info h2{
	text-transform: capitalize;
}
.count{
	color: #aaa;
}


#legend1 .bottom-info:nth-of-type(1), #legend2 .bottom-info:nth-of-type(1), #legend3 .bottom-info:nth-of-type(1) {
   	-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    overflow:visible;
    text-align: right;
  }

 #legend1 .bottom-info:nth-of-type(2), #legend2 .bottom-info:nth-of-type(2), #legend3 .bottom-info:nth-of-type(2) {
   	-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    overflow:visible;
    text-align: left;
  }

.centerTitle {      
	color: grey;
    text-transform: uppercase;
    font-size: 34px;
    font-stretch: condensed;
    font-weight: bold;
}

.totalPie1,.totalPie2,.totalPie3 {
    font-size: 46px;
    font-stretch: semi-expanded;
    position: absolute;
    text-align: center;
    width: 535px;
    display: block;
    margin-top: -210px;
    letter-spacing: -3px;
}

.bgChart{
    background: url(.././img/bgChart1.jpg);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
}
.dCharts{
    height: 320px;
}